<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>
    <script src="/public/lib/extender.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/ui.css">
    <link rel="stylesheet" href="style.scss">
</head>
<body>
<div id="app">
    <div v-if="progress" class="progress">
        {{ progress }}
    </div>
    <div v-if="!progress">
        <!-- Folder mode -->
        <div class="icon-list">
            <!-- Folder -->
            <div v-if="file.isFolder" @click="selectPath(file.path)" class="icon" v-for="file in fileList" :style="iconStyle">
                <img class="folder" src="folder.png" alt="Folder" draggable="false">
                <div>{{ file.name }}</div>
            </div>

            <!-- Images -->
            <div v-if="!file.isFolder" @click="selectImage(file.path)" class="icon" v-for="file in fileList" :style="iconStyle">
                <img :src="thumbnails[file.path]" alt="Photo" draggable="false">
            </div>
        </div>

        <!-- Show image -->
        <div v-if="currentImage" @click="currentImage = null" class="selected-image">
            <img @click.stop="" :src="currentImage" alt="Photo" draggable="false">
        </div>
    </div>
</div>
<script>
    (async () => {
        await VDE.initWithVue({
            tabs: ['Images', 'Reload'],
            components: ['draggable'],
            windowSize: [400, 550],
            async start(args) {
                // Load saved images or thumbnail
                if (await VDE.fileExists('.thumbnail.json'))
                    this.thumbnails = await VDE.getStorageFile('.thumbnail.json', 'json');

                // Load all image files in docs
                this.fileTree = await VDE.getFileTree('/', 'docs', '(png|jpg|jpeg|gif)$');

                // Filter files
                this.filterFiles();

                // Resize icons
                setInterval(() => {
                    if (!document.querySelector('.icon')) return;
                    this.iconStyle.height = document.querySelector('.icon').getBoundingClientRect().width + 'px';
                }, 128);
            },
            event: {
                async tabClicked(tab) {
                    if (tab === 'Reload') {
                        await VDE.clearStorage();
                        window.location.reload();
                    }
                }
            },
            method: {
                // Select folder
                selectPath(path) {
                    this.currentPath = path;
                    this.filterFiles();
                },

                // Show image
                selectImage(url) {
                    this.currentImage = '/docs/' + url;
                },

                async processThumbnails() {
                    // Check images without thumbnails
                    let newImages = 0;
                    for (let i = 0; i < this.fileList.length; i++) {
                        if (this.fileList[i].isFolder) continue;
                        if (!this.thumbnails[this.fileList[i].path]) newImages++;
                    }
                    this.progress = newImages;

                    // Handle new images
                    for (let i = 0; i < this.fileList.length; i++) {
                        // Skip folders
                        if (this.fileList[i].isFolder) continue;

                        // Skip if thumbnail exists
                        if (this.thumbnails[this.fileList[i].path]) continue;

                        // Resize image to thumbnail
                        let blob = await Extender.image.resize('/docs' + this.fileList[i].path, 128, 128);

                        // Save thumbnail
                        let thumbnailUrl = Math.random() + '_min.jpg';
                        this.thumbnails[this.fileList[i].path] = '/storage/' + thumbnailUrl;
                        await VDE.saveFile(thumbnailUrl, blob);
                        this.progress--;
                    }

                    // Save image info list
                    if (newImages) await VDE.saveFile('.thumbnail.json', JSON.stringify(this.thumbnails));
                },

                // Filter files to current folder
                filterFiles() {
                    this.fileList.length = 0;
                    this.fileList.push(...Extender.dir.getFiles(this.currentPath, this.fileTree));

                    this.processThumbnails();
                }
            },
            data: {
                progress: 0,

                currentPath: '/',
                currentImage: '',

                thumbnails: {},
                fileTree: [],
                fileList: [],

                iconStyle: {
                    display: 'flex',
                    flexDirection: 'column',
                    width: '25%',
                    height: '48px'
                }
            }
        });
    })();
</script>
</body>
</html>