html, body, #app {
  width: 100%;
  height: 100%;

  .draggable-container {
    position: absolute;
  }

  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 48px;
    color: #595959;
  }

  .icon-list {
    display: flex;
    flex-wrap: wrap;

    .folder {
      max-width: 50%;
      max-height: 50%;
      margin-bottom: 10px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      img {
        max-width: 100%;
        height: 100%;
      }
    }
  }

  .selected-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000b3;

    img {
      max-width: 100%;
      max-height: 100%;
      user-select: none;
    }
  }
}